table {
    width:50%;
    border-collapse:collapse;
    margin:25px auto;
}

th, td {
    border:1px solid white;
    text-align:center;
    padding:8px;
    height:20px;
}

th{
    background-color:rgba(0, 70, 176, 0.66);
    color:white;
}

tr:nth-child(even){
    background-color:rgba(223, 235, 255, 0.769);
}

tr:nth-child(odd){
    background-color:rgba(162, 195, 255, 0.553);
}

button{
    background-color:rgba(0, 70, 176, 0.66);
    color:white;
    display:block;
    margin:auto;
    height:40px;
    width:100px;
}